﻿<%@ Register TagPrefix="uc1" TagName="header_control" Src="../header_control.ascx"   %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DeleteBatch.aspx.cs" Inherits="hh_siamkraft.DeleteBatch" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>DeleteBatch</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR"/>
		<meta content="C# .NET 7.1" name="CODE_LANGUAGE"/>
		<meta content="JavaScript" name="vs_defaultClientScript"/>
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>
		<LINK href="../css/style.css" type="text/css" rel="stylesheet"/>
	    <style type="text/css">
            .style1
            {
                height: 25px;
            }
        </style>
</head>
<body leftMargin="1" topMargin="1" rightmargin="1" bottommargin="1" MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<table class="table_main" border="0" cellSpacing="0" cellPadding="0" width="225">
				<tr>
					<td class="headtable"><uc1:header_control id="Header_control1" runat="server"></uc1:header_control></td>
				</tr>
				<tr>
					<td class="headtable" align="center">DP Rewind</td>
				</tr>
				<tr>
					<td>
						<table border="0" cellSpacing="0" cellPadding="0" width="100%">
							<tr>
								<td class="normalText" align="left">Batch</td>
								<td class="normalText" align="left"><IMG align="absMiddle" src="../images/red_arrow.gif">&nbsp;
									<asp:label id="lblBatch" runat="server" CssClass="normalText"></asp:label></td>
							</tr>
							<tr>
								<td class="normalText" align="left">Qty</td>
								<td class="normalText" align="left"><IMG align="absMiddle" src="../images/red_arrow.gif">&nbsp;
									<asp:label id="lblQty" runat="server" CssClass="normalText"></asp:label></td>
							</tr>
							<tr>
								<td class="normalText" align="left">Materail</td>
								<td class="normalText" align="left"><IMG align="absMiddle" src="../images/red_arrow.gif">&nbsp;
									<asp:label id="lblMaterial" runat="server" CssClass="normalText"></asp:label></td>
							</tr>
							<tr>
								<td class="normalText" colSpan="2" noWrap align="left">&nbsp;<IMG align="absMiddle" src="../images/question.gif">&nbsp;<asp:label id="Lb_info" CssClass="normalText" ForeColor="red" Runat="server">Batch duplicated , Do you want delete data?</asp:label><font color="red"></font></td>
							</tr>
							<tr>
								<td class="normalText" colSpan="2" align="left"><asp:radiobutton id="rdoDelete" runat="server" GroupName="confirm" Text="Yes ,  delete data"></asp:radiobutton></td>
							</tr>
							<tr>
								<td class="normalText" colSpan="2" align="left"><asp:radiobutton id="rdoCancel" tabIndex="1" runat="server" GroupName="confirm" Text="No , delete data"></asp:radiobutton></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px"
					class="tr">
					<td align="center">
						<P><asp:button id="btnDelete" tabIndex="2" runat="server" CssClass="buttonTag" Text="OK" Width="50px" OnClick="btnDelete_Click"></asp:button></P>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
