A {
	FONT-FAMILY: "Tahoma", Arial;
	FONT-SIZE: 13px; 
	font-weight:bold;
	COLOR: #000000;
	TEXT-DECORATION: underline;
}
A:hover {
	COLOR: #336699;
}
TD, TH, DIV {
	FONT-FAMILY: "Tahoma", arial;
	FONT-SIZE: 13px;
	COLOR: #000000;
	TEXT-DECORATION: none;
}
BODY {
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	FONT-SIZE: 13px;
	COLOR: #888888;
	TEXT-DECORATION: none;
}
.tableCK3 /* Not support use with Handheld version CK3 ex25 */
{
	width:225px;
}
.tab_menu {
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	FONT-SIZE: 8px; 
	COLOR: #ffffff; 
	TEXT-ALIGN: left
}
.tab_menu A {
	COLOR: #ffffff; 
	TEXT-DECORATION: none
}
.tab_menu A:hover {
	COLOR: #336699
}
.bar_menu {
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	FONT-SIZE: 8px; 
	COLOR: #000000; 
	TEXT-ALIGN: left
}
.bar_menu A {
	COLOR: #000000; 
	TEXT-DECORATION: none
}
.bar_menu A:hover {
	COLOR: #336699
}
.mouse_out {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	CURSOR: hand
}
.mouse_over {
	BORDER-RIGHT: #336699 1px solid; 
	PADDING-RIGHT: 3px; 
	BORDER-TOP: #336699 1px solid; 
	PADDING-LEFT: 3px; 
	BORDER-LEFT: #336699 1px solid; 
	CURSOR: hand; 
	BORDER-BOTTOM: #336699 1px solid; 
	BACKGROUND-COLOR: #e9f2f8
}
.frame_menu {
	BORDER-RIGHT: medium none; 
	BORDER-TOP: medium none; 
	Z-INDEX: 98; 
	LEFT: 0px; 
	VISIBILITY: hidden; 
	BORDER-LEFT: medium none; 
	WIDTH: 0px; 
	BORDER-BOTTOM: medium none; 
	POSITION: absolute; 
	TOP: 0px; 
	HEIGHT: 0px
}

.select_menu {
	COLOR: #000000;
	BORDER-RIGHT: #336699 1px solid; 
	PADDING-RIGHT: 3px; 
	BORDER-TOP: #336699 1px solid; 
	PADDING-LEFT: 3px; 
	BORDER-LEFT: #336699 1px solid; 
	CURSOR: hand; 
	BORDER-BOTTOM: #336699 1px solid; 
	BACKGROUND-COLOR: #add8f7;
}
.header_link {
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	FONT-SIZE: 8px; 
	COLOR: #ffffff; 
	TEXT-ALIGN: left
}
.header_link A {
	COLOR: #ffffff; 
	TEXT-DECORATION: none
}
.header_link A:hover {
	COLOR: #336699
}
.inputTag {
	font-family: "tahoma",Verdana;
	font-size: 12px;
	color: #336699;
	text-decoration: none;
	border: #4791C5;
	background-color: #FFFFFF;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}
.disinputTag {
	font-family: "tahoma",Verdana;
	font-size: 12px;
	color: #336699;
	text-decoration: none;
	border: #FFFFFF;
	background-color: #FFFFFF;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}
.buttonTag{
	font : 11px "tahoma",Verdana; 
	font-weight: bold;
	color : #336699;
	border-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-color : #336699;
	background-color: #ffffff; 
	height : 20px;
}
.colorBox {
	font-family: "tahoma",Verdana;
	font-size: 10px;
	color: #00008B;
	text-decoration: none;
	border: #333333;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}
.copyright {
	FONT-FAMILY: Arial;
	FONT-SIZE: 10px; 
	COLOR: #888888; 
}
.manual_link {
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	FONT-SIZE: 8px; 
	COLOR: #336699; 
	TEXT-ALIGN: left
}
.manual_link A {
	COLOR: #336699; 
	TEXT-DECORATION: none
}
.manual_link A:hover {
	COLOR: #ffffff
}

.table_main 
{
	padding: 1px;
	border-top:solid 1px #0a246a ;
	border-bottom:solid 1px #0a246a ;
	border-left:solid 1px #0a246a ;
	border-right:solid 1px #0a246a ;

}

.smallerText {
	FONT-FAMILY: "Tahoma", Arial;
	font-size: 11px;
}

.smallText {
	FONT-FAMILY: "Tahoma", Arial;
	font-size: 12px;
}
.normalText {
	FONT-FAMILY: "Tahoma", Arial;
	font-size: 11px;
}
.largeText{
	font-family: "Tahoma", Verdana, Arial;
	font-size: 20px;
	font-weight:bold;
}
.headMenu
{
	font-family: "Tahoma", Verdana, Arial;
	font-size: 10px;
	font-weight:bold;
	color:White;
}
.tr{
 background-color : #0a246a ;
 color : White;
}
.FromEnNor {
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	border-style:solid;
	border-color: #D76B00;
	background-color: #FFFFFF;
}

.headtable
{
	FONT-FAMILY: "Tahoma",Arial;
	font-size: 14px;
	color: White;
	background-color : #0a246a
}

label{
	FONT-FAMILY: "Tahoma", AngsanaUPC,Verdana,  Likhan; 
	FONT-SIZE: 14px;
	COLOR: #000000;
	TEXT-DECORATION: none;
}

.label{
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	line-height: 1.4; 
	FONT-SIZE: 14px;
	font-weight:bold;
	COLOR: #000000;
	TEXT-DECORATION: none;
}

.label1{
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	FONT-SIZE: 16px;
	font-weight:bold;
	COLOR: #000000;
	TEXT-DECORATION: none;
}

TR.row1{
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	text-indent : 5px;
	background : #D8ECFB;
	font-size: 11px;
	color : #336699;
}
TR.row2{
	FONT-FAMILY: "Tahoma", Verdana, Arial;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	text-indent : 5px;
	background : #e9f2f8;
	font-size: 11px;
	color : #336699;
}
.TextReadOnly
{
    border:solid 1px #336699;
	background-color:#cdccba;
}





