﻿<%@ Register TagPrefix="uc1" TagName="header_control" Src="../../header_control.ascx"   %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="101_TimeOut.aspx.cs" Inherits="hh_siamkraft._101_TimeOut" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>_101_TimeOut</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR"/>
		<meta content="C# .NET 7.1" name="CODE_LANGUAGE"/>
		<meta content="JavaScript" name="vs_defaultClientScript"/>
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>
		<LINK href="../../css/style.css" type="text/css" rel="stylesheet"/>
  
</head>
  <body bottomMargin="1" leftMargin="1" topMargin="1" rightMargin="1" MS_POSITIONING="GridLayout">
		<form id="myForm" method="post" runat="server">
			<table class="table_main" id="tbl_scan" cellSpacing="0" cellPadding="0" width="225" border="0"
				runat="server">
				<tr>
					<td class="headtable"><uc1:header_control id="Header_control1" runat="server"></uc1:header_control></td>
				</tr>
				<tr>
					<td class="headtable" align="center">Goods Receipt&nbsp;- Outsource</td>
				</tr>
				<tr height="2">
					<td class="normalText">&nbsp;<img src="../../images/timeout.gif" align="absMiddle">&nbsp;<asp:label id="Lb_SapMsg" runat="server" ForeColor="Red" CssClass="normalText">TimeOut</asp:label></td>
				</tr>
				<tr>
					<td>
						<table cellSpacing="0" cellPadding="0" width="100%" border="0">
							<tr>
								<td class="normalText" align="left">PO No.</td>
								<td class="normalText" align="left">&nbsp;<IMG hspace="1" src="../../images/red_arrow.gif" align="absMiddle">&nbsp;
									<asp:label id="Lb_po_no" runat="server" Width="128px" CssClass="normalText"></asp:label></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="tr" style="PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px">
					<td align="left"><asp:button id="Bt_retry" Width="50px" CssClass="buttonTag" Runat="server" Text="Retry" OnClick="Bt_retry_Click"></asp:button>&nbsp;
						<asp:Button id="Bt_back" runat="server" CssClass="buttonTag" Width="48px" Text="Back" OnClick="Bt_back_Click"></asp:Button></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><asp:Label ID="Lb_id" Runat="server" Visible="False"></asp:Label></td>
				</tr>
			</table>
		</form>
	</body>
</html>
