﻿<%@ Register TagPrefix="uc1" TagName="header_control" Src="../../header_control.ascx"   %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GR_MatDoc.aspx.cs" Inherits="hh_siamkraft.GR_MatDoc" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>ConfirmDelete525</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR"/>
		<meta content="C# .NET 7.1" name="CODE_LANGUAGE"/>
		<meta content="JavaScript" name="vs_defaultClientScript"/>
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>
		<LINK href="../../css/style.css" type="text/css" rel="stylesheet"/>
        <script src="../javascript/check_func.js"></script>

	    <style type="text/css">
            .style1
            {
                height: 25px;
            }
        </style>
</head>
	<body style="MARGIN: 1px" MS_POSITIONING="GridLayout">
		<form id="myForm" method="post" runat="server">
			<table id="tbl_waitdata" class="table_main" border="0" cellSpacing="0" cellPadding="0"
				width="225" runat="server">
				<tr>
					<td class="headtable"><uc1:header_control id="Header_control1" runat="server"></uc1:header_control></FONT></td>
				</tr>
				<tr>
					<td class="headtable" align="center">Goods Receive</td>
				</tr>
				<tr>
					<td>
						<table id="Table1" border="0" cellSpacing="0" cellPadding="0" width="100%">
							<tr>
								<td class="normalText" align="left">Status</td>
								<td class="normalText" align="left"><IMG hspace="1" align="absMiddle" src="../../images/red_arrow.gif">&nbsp;
									<asp:label id="Lb_info" runat="server" CssClass="normalText" ForeColor="Red"></asp:label></td>
							</tr>
							<tr>
								<td class="normalText" align="left">Message</td>
								<td class="normalText" align="left">
									<P><IMG hspace="1" align="absMiddle" src="../../images/red_arrow.gif">&nbsp;
										<asp:label id="Label1" runat="server" ForeColor="#00C000">Label</asp:label></P>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px"
					class="tr">
					<td align="left">&nbsp;
						<asp:button id="Bt_ok" runat="server" CssClass="buttonTag" Text="GR Menu" OnClick="Bt_ok_Click"></asp:button></td>
				</tr>
			</table>
		</form>
	</body>


</html>
