﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="header_control.ascx.cs" Inherits="hh_siamkraft.header_control" %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	
	&nbsp;<font color="white">User :</font>&nbsp;<b><asp:Label id="Lb_user_login" runat="server" ForeColor="White" Font-Bold="True" Font-Underline="True"></asp:Label>
	</b>&nbsp;&nbsp;
	<font color="Gray">|</font>&nbsp;&nbsp;<font color="white">HH&nbsp;ID&nbsp;:&nbsp;<asp:Label ID="Lb_hh" Runat="server" Font-Bold="True" Font-Underline="True"></asp:Label></font>
    <br />
    &nbsp;<font color="white">PM :</font>&nbsp;<b><asp:HyperLink id="Lb_Server2" runat="server" ForeColor="White" Font-Bold="True" Font-Underline="True"></asp:HyperLink>
	</b>&nbsp;&nbsp;
	<font color="Gray">|</font>&nbsp;&nbsp;<font color="white">Plant :</font>&nbsp;<b><asp:HyperLink id="Lb_Plant2" runat="server" ForeColor="White" Font-Bold="True" Font-Underline="True"></asp:HyperLink></b>
    <%--<font color="white">Plant&nbsp;:&nbsp;<asp:Label ID="Lb_Plant" Runat="server" Font-Bold="True" Font-Underline="True"></asp:Label></font>--%>
</body>

